# IDE
.idea
.vscode
*.sublime-workspace
*.sublime-project

# Composer
/vendor/
composer.lock

# Testing
/coverage/
/test-reports/
.phpunit.result.cache
coverage.xml
coverage.txt

# OS
.DS_Store
Thumbs.db

# Magento
/var/
/generated/
/pub/static/
/app/etc/env.php
/app/etc/config.php

# Node
/node_modules/
package-lock.json

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
/build/
/dist/
*.zip
