<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <graphql_performance>
            <cache>
                <lifetime>3600</lifetime>
                <enable_full_page_cache>1</enable_full_page_cache>
                <enable_redis_cache>1</enable_redis_cache>
                <enable_varnish_cache>0</enable_varnish_cache>
                <cache_prefix>graphql_</cache_prefix>
                <cache_tags_strategy>specific</cache_tags_strategy>
                <cache_warming_enabled>0</cache_warming_enabled>
                <cache_warming_patterns>
                    <category_list>query CategoryList { categories { items { id name url_key } } }</category_list>
                    <product_list>query ProductList { products { items { id sku name } } }</product_list>
                </cache_warming_patterns>
            </cache>
            <query>
                <max_complexity>300</max_complexity>
                <max_depth>20</max_depth>
                <batch_size>100</batch_size>
                <timeout>30</timeout>
                <max_results_per_query>1000</max_results_per_query>
                <enable_query_batching>1</enable_query_batching>
                <enable_query_persisted>0</enable_query_persisted>
                <persisted_query_ttl>86400</persisted_query_ttl>
                <error_handling>
                    <show_debug_info>0</show_debug_info>
                    <log_errors>1</log_errors>
                    <error_log_file>var/log/graphql_errors.log</error_log_file>
                </error_handling>
            </query>
            <connection_pool>
                <max_connections>50</max_connections>
                <min_connections>5</min_connections>
                <idle_timeout>300</idle_timeout>
                <connection_timeout>5</connection_timeout>
                <retry_limit>3</retry_limit>
                <retry_delay>1000</retry_delay>
                <health_check_interval>60</health_check_interval>
                <enable_persistent_connections>1</enable_persistent_connections>
            </connection_pool>
            <response>
                <enable_compression>1</enable_compression>
                <compression_threshold>1024</compression_threshold>
                <enable_json_minification>1</enable_json_minification>
                <pagination>
                    <default_page_size>20</default_page_size>
                    <max_page_size>100</max_page_size>
                    <enable_cursor_pagination>1</enable_cursor_pagination>
                </pagination>
                <caching_headers>
                    <enabled>1</enabled>
                    <ttl>3600</ttl>
                    <vary_by_currency>1</vary_by_currency>
                    <vary_by_store>1</vary_by_store>
                    <vary_by_customer_group>1</vary_by_customer_group>
                </caching_headers>
            </response>
        </graphql_performance>
    </default>
</config>
