<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Watch Attribute Resolver -->
    <type name="Sterk\GraphQlPerformance\Model\Resolver\FieldResolver\Product\WatchAttributeResolver">
        <arguments>
            <argument name="cache" xsi:type="object">Sterk\GraphQlPerformance\Model\Cache\RedisClusterCache</argument>
            <argument name="dataLoader" xsi:type="object">Sterk\GraphQlPerformance\Model\DataLoader\BatchDataLoader</argument>
        </arguments>
    </type>

    <!-- Redis Cluster Cache -->
    <type name="Sterk\GraphQlPerformance\Model\Cache\RedisClusterCache">
        <arguments>
            <argument name="nodes" xsi:type="array">
                <item name="node1" xsi:type="string">redis-node-1:6379</item>
                <item name="node2" xsi:type="string">redis-node-2:6379</item>
                <item name="node3" xsi:type="string">redis-node-3:6379</item>
            </argument>
            <argument name="options" xsi:type="array">
                <item name="timeout" xsi:type="number">1.0</item>
                <item name="read_timeout" xsi:type="number">1.0</item>
                <item name="persistent" xsi:type="boolean">true</item>
                <item name="distribute" xsi:type="boolean">true</item>
            </argument>
        </arguments>
    </type>

    <!-- Field Resolver Configuration -->
    <type name="Sterk\GraphQlPerformance\Model\Resolver\FieldResolver\FieldResolverManager">
        <arguments>
            <argument name="resolvers" xsi:type="array">
                <item name="Product" xsi:type="array">
                    <item name="es_saat_mekanizma" xsi:type="object">Sterk\GraphQlPerformance\Model\Resolver\FieldResolver\Product\WatchAttributeResolver</item>
                    <item name="es_kasa_capi" xsi:type="object">Sterk\GraphQlPerformance\Model\Resolver\FieldResolver\Product\WatchAttributeResolver</item>
                    <item name="es_kasa_cinsi" xsi:type="object">Sterk\GraphQlPerformance\Model\Resolver\FieldResolver\Product\WatchAttributeResolver</item>
                    <item name="es_kordon_tipi" xsi:type="object">Sterk\GraphQlPerformance\Model\Resolver\FieldResolver\Product\WatchAttributeResolver</item>
                    <item name="es_swiss_made" xsi:type="object">Sterk\GraphQlPerformance\Model\Resolver\FieldResolver\Product\WatchAttributeResolver</item>
                    <item name="manufacturer" xsi:type="object">Sterk\GraphQlPerformance\Model\Resolver\FieldResolver\Product\WatchAttributeResolver</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
